################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Directories
/.vs/Nu
/bin/
bin-int/

# Files
*.user