################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Directories
/.vs/Nu
bin
bin-int

# Files
*.user
/Sandbox/NuProfile-Runtime.json
/Sandbox/NuProfile-Shutdown.json
/Sandbox/NuProfile-Startup.json
/Nu-Editor/NuProfile-Runtime.json
/Nu-Editor/NuProfile-Shutdown.json
/Nu-Editor/NuProfile-Startup.json